src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="setCode" doc:id="b994ffbc-270c-4a2c-98ce-46f00d2d283b" >
		<set-variable value='#[message.attributes.queryParams.code default "SFO"]' doc:name="code" doc:id="70421b37-491b-4489-8180-3a1c7620b8c4" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="309dc07c-f654-4426-b6b3-c2b94d6ea6aa" >
		<http:listener doc:name="GET/american" doc:id="517e9e7c-78dd-4dc6-8276-371bd27e3253" config-ref="HTTP_Listener_config" path="/american"/>
		<flow-ref doc:name="setCode" doc:id="8323fda4-b92a-4981-900b-063226193109" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="43c4e7b9-ccbc-489e-bf30-91ad3a8772ab" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flights]" doc:id="5d52e8e1-5ed7-4174-a284-bd39a0c0148f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5eaec7fd-3f80-4ca9-b4b4-f5552c10dbe1" />
	</flow>
	<flow name="getUnitedFlights" doc:id="b5b3c2b1-1f14-459e-97d8-f36e3f065574" >
		<http:listener doc:name="GET/united" doc:id="a07c862a-f05e-4a69-b943-87d336e941de" config-ref="HTTP_Listener_config" path="/united"/>
		<flow-ref doc:name="setCode" doc:id="39a5f26f-5423-4762-9fcf-73aeb67ff55a" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="8de71c64-1c59-439e-acef-d8269c18fffd" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flights]" doc:id="7f119826-645e-4ff3-a776-e5ff50be9cb0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="db420b78-af85-4fb1-b950-fc32693b16ca" />
	</flow>
	<flow name="getDeltaFlights" doc:id="c6c79ec1-ab59-45ab-ae6e-2fc6db10c4ed" >
		<http:listener doc:name="GET/delta" doc:id="24a5f3c8-917f-4823-897d-6a0fee4e4696" config-ref="HTTP_Listener_config" path="/delta"/>
		<flow-ref doc:name="setCode" doc:id="43c9511e-21eb-4c1c-9db1-86d7a9bcf8b9" name="setCode"/>
		<ee:transform doc:name="pass code" doc:id="0482cb69-681e-4e87-a3d4-0923b8ad22a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="f54afcf0-bd66-4998-9461-adb35ef0c6b8" config-ref="Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to [Flights]" doc:id="3fd21837-0f94-45e0-8c1f-097fd4aac371" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e60c74df-3a7b-420c-bc61-952cad5d8176" />
	</flow>
</mule>
