src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd">
	<sub-flow name="setCode" doc:id="b994ffbc-270c-4a2c-98ce-46f00d2d283b" >
		<set-variable value='#[message.attributes.queryParams.code default "SFO"]' doc:name="code" doc:id="70421b37-491b-4489-8180-3a1c7620b8c4" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="309dc07c-f654-4426-b6b3-c2b94d6ea6aa" >
		<http:listener doc:name="GET/american" doc:id="517e9e7c-78dd-4dc6-8276-371bd27e3253" config-ref="HTTP_Listener_config" path="/american"/>
		<flow-ref doc:name="setCode" doc:id="8323fda4-b92a-4981-900b-063226193109" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="43c4e7b9-ccbc-489e-bf30-91ad3a8772ab" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
	</flow>
</mule>
